* {
    font-family: 'Oswald', sans-serif;
}

input, input:hover {
    border: none;
    outline: none;
}

body {
    margin: 0;
}

.main-page-wrapper {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    background-color: #141616;
    padding: 0 5%;
}

.main-page-header {
    padding: 20px 0;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navigation-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.15em;
    color: #828282;
    cursor: pointer;
}

.header-navigation-item:hover {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.15em;
    color: #F7F7F7;
}

.header-navigation-search-block {
    display: flex;
    align-items: center;
    width: 173px;
    height: 44px;
    background: #828282;
    border-radius: 23px;
    cursor: pointer;
}

.header-navigation-search-icon {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

.header-navigation-search-text {
    font-weight: 400;
    border: none;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.15em;
    color: #141616;
    opacity: 0.6;
    background-color: transparent;
    width: 100%;
    margin-right: 12px;
}

.header-navigation-search-text::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.15em;
    color: #141616;
    opacity: 0.6;
}