* {
    font-family: 'Oswald', sans-serif;
}

input,
input:hover {
    border: none;
    outline: none;
}

body {
    margin: 0;
}

.first-section {
    background-image: url('./assets/main-background-first.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-page-wrapper {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    background-color: #141616;
}

.main-page-header {
    padding: 20px 5%;
    background-color: #141616;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navigation-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.15em;
    color: #828282;
    cursor: pointer;
}

.header-navigation-item:hover {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.15em;
    color: #F7F7F7;
}

.header-navigation-search-block {
    display: flex;
    align-items: center;
    width: 173px;
    height: 44px;
    background: #828282;
    border-radius: 23px;
    cursor: pointer;
}

.header-navigation-search-icon {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

.header-navigation-search-text {
    font-weight: 400;
    border: none;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.15em;
    color: #141616;
    opacity: 0.6;
    background-color: transparent;
    width: 100%;
    margin-right: 12px;
}

.header-navigation-search-text::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.15em;
    color: #141616;
    opacity: 0.6;
}

.first-section-center-content {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    margin-bottom: 190px;
    padding: 0 5%;
}

.first-section-razer-title {
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0.15em;
    color: #00FF00;
}

.first-section-blackshark-title {
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0.15em;
    color: #F7F7F7;
}

.first-section-text-center {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #F7F7F7;
    margin-top: 20px;
    width: 750px;
}

.first-section-center-buttons {
    display: flex;
    margin-top: 20px;
}

.first-section-buy-button {
    width: 106px;
    height: 45px;
    background: #00FF00;
    border-radius: 50px;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.15em;
    color: #141616;
    cursor: pointer;
    margin-right: 20px;
}

.first-section-readmore-button {
    width: 160px;
    height: 45px;
    border: 1px solid #F7F7F7;
    border-radius: 50px;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.15em;
    color: #F7F7F7;
    background-color: transparent;
    cursor: pointer;
}

.first-section-bottom {
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
}

.first-section-bottom-socials {
    display: flex;
    flex-direction: column;
}

.first-section-socials-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.15em;
    color: #00FF00;
}

.first-section-socials-list {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.first-section-bottom-categories {
    display: flex;
    justify-content: end;
}

.first-section-category {
    position: relative;
}

.first-section-category-title {
    position: absolute;
    top: 120px;
    left: 60px;
    width: 95px;
    display: flex;
    flex-direction: column;
}

.first-section-category-title-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}

.first-section-category-title-underline {
    width: 95px;
    border: 1px solid #FFFFFF;
    margin-top: 5px;
}

.news-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0 5%;
}

.news-section-header {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.news-header-text-block {
    display: flex;
    flex-direction: column;
}

.news-header-text-green-text {
    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #00FF00;
}

.news-heder-text-green-underline {
    width: 787px;
    height: 0px;
    border: 1px solid #00FF00;
    margin-top: 10px;
}

.news-header-see-all-button {
    width: 137px;
    height: 45px;
    background: #F7F7F7;
    border-radius: 50px;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.15em;
    color: #141616;
}

.news-header-additional-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #828282;
    margin-top: 10px;
}

.news-section-navigation {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.news-section-nav-item {
    max-width: 24%;
    margin-right: 20px;
    max-height: 300px;
}

.news-section-nav-item-wide {
    max-width: 49%;
    max-height: 300px;
}

.news-section-nav-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.news-section-scroll-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 100px;
}

.swipe-items-margin {
    margin-right: 20px;
}